<div class="container">
	<form>
		 <div class="row">
			<div class="col-sm-4">
				<label>Email : </label>
				<input type="email" name="user[email]" id="user-email">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<label>Password : </label>
				<input type="password" name="user[password]" id="user_passwd">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<label>Confirm Password : </label>
				<input type="password" name="user[confirm_password]" id="user_cpasswd">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12"><input class="btn btn-success" type="submit" value="SUBMIT"></div>
		</div>
	</form>
</div>
